  <h3>This is list <a href="/v/<%= @current_url%>"><%= @current_url %></a>.</h3>
  <% @items.each_with_index do |item, index| %>
  <div class="row">
    <div class="span12">
      <div class="toggle toggle-icon">
	     <label class="toggle-radio fui-checkmark-16" for="item<%= index %>"></label>
	     <input type="radio" name="item<%= index %>" id="item<%= index %>" value="on" checked="checked">
	     <label class="toggle-radio fui-cross-16" for="item<%= index %>"></label>
      </div> <%= item %>
    </div>
  </div>
  <% end %>